body {
    font-family: 'Qahiri', sans-serif;
}
/*Normalizando css, el asterisco es el selector universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Armando estructura de cajas*/
body {
    border: 3px solid red;
    margin: 5px;
    padding: 10px;
}

/*Estilos de header*/
header {
    border: 3px solid blue;
    margin-bottom: 10px;
    padding: 5px;
}

/*Selector de etiqueta*/
nav {
    border: 2px solid green;
    padding: 10px;
}

/*Selector de clase lleva un . (punto) amtes del nombre de clase*/
.nav_Header {
    border: 2px dashed yellow;
    padding: 25px;
}

.list-item_Header {
    border: 2px solid violet;
    padding: 10px;
}

.link_Header {
    border: 1px solid purple;
    padding: 5px;
}

/*Estilos del contenido (main)*/
/*Selector de id lleva siempre # (Almohadilla) antes del nombre del id*/
#mainContent {
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 20px;
}

/*Aqui empezare a darle estilo al articulo*/
article {
    border: 10px solid rosybrown;
    padding: 10px;
}

h2 {
    margin: 10px;
    border: 5px dotted gray;
    padding-inline-start: 10px;
}

.paragraph_Main {
    margin-top: 10px;
    margin-left: 10px;
    padding: 2px;
}

.content-paragraph_Main {
    margin: 10px;
    border: 2px dashed pink;
    padding-top: 5px;
}

.div_Main {
    margin-top: 10px;
    margin-left: 5px;
    padding: 2px;
}

.subtitle_Main {
    margin-bottom: 10px;
    border: 5px dotted firebrick;
    padding: 5px;
}

.content-div_Main {
    margin-bottom: 10px;
    margin-left: 10px;
    border: 5px dashed gold;
    padding: 5px;
}

img {
    margin: 10px;
}

/*Aqui empiezo a darle estrilo al aside*/